DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_DATABASE="movias"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_SSL_MODE="disable" # Mudar para "require" se for rodar em produção
