DATABASE_HOST="seu-host-postgres"
DATABASE_PORT="5432"
DATABASE_DATABASE="movias"
DATABASE_USER="seu-usuario"
DATABASE_PASSWORD="sua-senha"
DATABASE_SSL_MODE="require" # Mudar para "disable" se seu banco não exigir SSL
RELATORIO_QUERY_BATCH_SIZE="350"
RELATORIO_QUERY_PARALLEL_WORKERS="4"
AI_INTEGRATION_ENABLED="false"
AI_API_BASE_URL="http://localhost:8010"
AI_SYNC_TARGETS="km_dia_clean,h_dia_clean"
AI_SHARED_CSV_PATH="/shared/movias.csv"
AI_HTTP_TIMEOUT_SECONDS="180"
